@model BeebarhRestaurant.Models.ViewModel.CreateUserViewModel
@{
    Layout = "_DashBoardLayout";
}

@{
    ViewBag.Title = "Register"; }

<div class="row justify-content-center">
    <div class="card">

        <div class="card-header">
            <h1 class="text-center"><em>Restaurant Registration Form</em></h1>
        </div>

        <div class="card-body">

            <form method="post">

                <div class="form-group mb-3">
                    <input asp-for="Name" class="form-control" placeholder="Enter Full Name" />
                    <span asp-validation-for="Name" class="text-danger"></span><br>

                    <input asp-for="Email" class="form-control" placeholder="Email Address" />
                    <span asp-validation-for="Email" class="text-danger"></span><br>

                    <input type="password" asp-for="Password" class="form-control" placeholder="Create Password" />
                    <span asp-validation-for="Password" class="text-danger"></span><br />

                    <input type="password" asp-for="ConfirmPassword" class="form-control"
                           placeholder="Confirm Password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span><br />

                    <input asp-for="Gender" type="radio" id="Male" name="gender" value="Male" />
                    <label for="Male">Male</label>

                    <input asp-for="Gender" type="radio" id="Female" name="gender" value="Female" />
                    <label for="Female">Female</label>

                    <span asp-validation-for="Gender" class="text-danger"></span>

                </div>
                <div>
                    <label asp-for="Type">Register As:</label>
                    <br />
                    <input type="radio" asp-for="Type" value="Admin" /> Admin <br /><br />
                    <input type="radio" asp-for="Type" value="Manger" /> Manager <br /><br/>
                    <input type="radio" asp-for="Type" value="Customer" /> Customer <br />
                </div>

                <div class="form-group">
                    <input type="submit" value="Register" class="btn" style="background:orchid" />
                    <span class="mr-3">
                        Already Registered?<a asp-area="" asp-controller="User" asp-action="Login">
                            Login
                            Here
                        </a>
                    </span>
                </div>

            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
